.bottom-section {
    background: url('/src/images/content/mountains.png') top right 53% no-repeat/cover;
    padding-top: 15.3125rem;
    padding-bottom: 8.4375rem;
    // -webkit-clip-path: polygon(0 0,0 100%,100% 100%,100% 0,50% 6%);
    clip-path: polygon(0 0,0 100%,100% 100%,100% 0,50% 6%);
}


