.bottom-section {
    background: url('/src/images/content/mountains.png') top right 53% no-repeat/cover;
    padding-top: 245px;
    padding-bottom: 71px;
    clip-path: polygon(0 0,0 100%,100% 100%,100% 0,50% 6%);
    margin-top: -7%;

    @include phones() {
        padding-top: 180px;
    }
}

