.button {
    text-transform: uppercase;
    width: 347px;
    height: 80px;
    border-radius: 40px 0;
    background: linear-gradient(45deg, #9100ef, #5500f2);
    background-color: #5500f2;

    font-size: 18px;
    font-weight: bold;
    line-height: 2.67;
    text-align: center;
    color: #ffffff;
}