.form {
    margin-bottom: 160px;
}

.form__container {
    width: 500px;
}

.form__row {
    display: flex;
}

.form__block {
    width: 408px;
    height: 50px;
    margin-right: 50px;
}

.form__block-input {
    width: 100%;
}