.nav{
    &--color-white {
        .nav__link {
            color: #ffffff;
        }
    }   
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    width: 61px;
    height: 12px;
    line-height: 1.88;
    text-align: left;
    color: #414c63;
    text-decoration: none;
}