.skills-row{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    flex-direction: column;

    &:last-child {
        margin-bottom: 0;
    }
}

.skills-row__title {
    margin-bottom: 50px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    color: #414c63;
}

.skills-row__item {
    // margin-right: 40px;
    margin-bottom: 50px;
}

.skills-row__list {
    display: flex;
}
