.skill {
    width:200px;
    height: 200px;
    fill: transparent;
    stroke: #ccc;
    stroke-width: 3px;
    position: relative; 
}

.skill__circle--above {
    stroke: green;
    stroke-dasharray: 105;
    stroke-dashoffset: 0;
    stroke-width: 15px;
}

.skill__title {
    position: absolute;
    top: 88px;
    left: 70px;
}

