.socials {
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    width: 25px;
    height: 31px;
    display: block;
}