.triangles {
    position: relative;
    height: 80px;
    margin-top: -80px;
}
.triangles__item {
    display: block;
    position: absolute; 
    width: 50%;
    height: 100%;
    fill: green;

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }
}