.user__data-table {
    width: 100%;
}

.user-table__title {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.88;
    text-align: left;
    color: rgba(65, 76, 99, 0.3);
}

.user-table__desc {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.88;
    text-align: left;
    color: #414c63;
}