.user__data-table {
    width: 100%;
}

.user-table__title {
    width: 48%;
    font-weight: 600;
    line-height: 1.88;
    text-align: left;
    color: rgba(65, 76, 99, 0.3);

    @include phones() {
        width: 53%;
    }
}

.user-table__desc {
    font-weight: 600;
    line-height: 1.88;
    text-align: left;
    color: #414c63;
}