.welcome-section {
    background: url('/src/images/content/mountain_baloon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1739px;

    @include phones() {
        background-position: 66% 50%;
    }
}